 .overlay-text {
        /* chorizado de github pero queda muy bonito */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        /* Transparent background for text */
        padding: 20px;
        border-radius: 5px;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .bg-darker {

        background-color: #0d0f10;

    }

    .bg-darker-div {

        background-color: #0d0f10;
        height: 20px;

    }

    div#dividerContainer {
        height: 160px;
        align-items: flex-end;
        display: flex;

    }

    .left {

        text-align: left;
        margin-left: 70px;

    }

    .footer-divider {

        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

    }

    footer {
        color: white;
        padding: 1%;
    }

    .footerTitle,
    .horizontalMenuList,
    .socialNetworks {
        display: flex;
        justify-content: center;
    }

    .footerTitle {
        font-size: 200%;
    }

    .horizontalMenuList li,
    .socialNetworks li {
        list-style-type: none;
        padding-left: 1%;
        padding-right: .5%;
        cursor: pointer;
    }

    .horizontalMenuList li:hover {
        transition: ease-in-out 0.5s;
        color: rgb(209, 209, 209);
    }